
.sideAdvertisingContainer{
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(270deg, #a6ff00, #3333ff, rgb(0, 101, 95), oklab(79.12% -0.21229 0.16099 / 0.884)),url(../../Landbook.link.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  animation: bgMove 2s infinite alternate ease-in-out;
  padding: 0 !important;
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}
@keyframes bgMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.scrolling-text:hover,
.scrolling-text:hover .scrolling-text {
  animation-play-state: paused;
}
.scrolling-text{
  position: absolute;
  white-space: nowrap;
  font-size: 1.8rem;
  transform: translateX(0);
  font-weight: 500;
  animation: scrollText 640s linear infinite;
  background: linear-gradient(90deg, rgb(255, 255, 255), #ffffff, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes scrollText{
  0% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.brand{
  color: rgb(0, 81, 255);
  font-weight: 700;
}

.sidebarContainer{
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: 0;
  width: 100px;
  top: 90px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-left: 1px solid lightgrey;
}
.sidebarContents{
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  background-color: rgb(255, 255, 255);
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}
.sidebarContents img{
  width: 65px;
  margin-bottom: 8px;
}
.sidebarContents:hover{
  background-color: rgb(238, 238, 238);
  color: black;
}
.links{
  text-decoration: none;
}
@media(max-height: 900px) {
  .links{
    height: 140px;
  }
  .sidebarContents{
    height: 130px;
    font-size: 13px;
  }
}
@media(max-height: 780px) {
  .links{
    height: 120px;
  }
  .sidebarContents{
    height: 110px;
    font-size: 13px;
  }
  .sidebarContents img{
    width: 58px;
    margin-bottom: 8px;
  }
}
@media(max-height: 686px) {
  .sidebarContents img{
    width: 50px;
  }
  .links{
    height: 100px;
  }
}