.flash{
  padding: 20px;
  margin: 10px 0;
  border-radius: 4px;
  font-weight: bold;
}
.flash-success{
  background-color: #d4edda;
  color: #155724;
}
.flash-error{
  background-color: #f8d7da;
  color: #721c24;
}
.noProducts{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  color: rgb(100, 100, 100);
  /* background-color: rgb(0, 81, 255); */
  font-family: system-ui;
  font-size: 14px;
  line-height: 23px;
  min-height: 580px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.highlight{
  color: rgb(0, 81, 255);
  display: inherit;
}
.sidebarContainer{
  background-color: rgb(238, 238, 238);
  position: fixed;
  right: 0;
  width: 140px;
  top: 90px;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-left: 1px solid lightgrey;
  font-family: arial;
  font-size: 14.5px;
}
.sidebarContents{
  font-family: Cambria;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: rgb(221, 83, 83);
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}
.sidebarContents img{
  width: 65px;
  margin-bottom: 8px;
}
.sidebarContents:hover{
  background-color: rgb(248, 248, 248);
  color: black;
}
.links{
  text-decoration: none;
}
.link{
  color: rgb(0, 81, 255);
  text-decoration: none;
  display: block;
  margin-top: 20px;
}
.link:hover{
  text-decoration: underline;
}
.red{
  color: red;
  font-weight: 500;
}
.green{
  color: green;
  font-weight: 700;
}
.textsTopFour{
  padding: 10px;
  color: white;
  background-color: rgb(0, 81, 255);
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
}
.togglingTitle{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(0, 81, 255);
}
.startingPrices{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  margin-bottom: 6px;
}
/* for dropdown css starts here */
.dropdown-container{
  position: relative;
  /* width: 200px; */
  background: #f0f0f0;
  cursor: pointer;
  border: 1px solid #ccc;
  user-select: none;
}
.dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.dropdown div{
  padding: 10px;
  cursor: pointer;
}
.dropdown div:hover{
  background-color: #efefef;
}
.hidden{
  display: none;
}
/* for dropdown css ends here */
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 40px;
  margin-top: 30px;
}
/* @media(max-height: 1368px) {
  .container{
    margin-bottom: 32vh;
  }
} */
.productDetails{
  background-color: rgb(245, 245, 245);
  color: rgb(0, 101, 95);
  padding: 10px;
  font-size: 13px;
  border-top: 2px solid rgb(238, 238, 238);
  border-left: 2px solid rgb(238, 238, 238);
  border-right: 2px solid rgb(238, 238, 238);
}
.productLink{
  text-decoration: none;
  color: black;
}
.productsImage img{
  width: 100%;
  margin-bottom: 12px;
}
.productsContainer{
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(228, 228, 228);
  padding: 12px;
}
.productsStats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
}
.productsPriceAndLB{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  font-weight: bolder;
  margin-bottom: 20px;
}
@media(max-width: 500px) {
  .productsPriceAndLB{
    font-size: 15px;
  }
}
.originalPrice{
  text-decoration: line-through;
  margin-right: 4px;
}
.price{
  text-decoration: rgb(0, 81, 255);
}
.productPrice{
  margin-right: 20px;
}
.productsLB{
  color: rgb(161, 137, 0);
  font-size: 16px;
}
@media(max-width: 500px) {
  .productsLB{
    font-size: 15px;
  }
}
.productsSpec{
  font-weight: bold;
  color: rgb(18, 83, 18);
}
@media(max-width: 500px) {
  .productsSpec{
    font-size: 14.5px;
  }
}
.productsStats{
  margin-top: 15px;
  font-size: 14px;
  color: rgb(46, 46, 46);
}
@media(max-width: 500px) {
  .productsStats{
    font-size: 13px;
    text-align: center;
  }
  .productsRating img{
    width: 80px;
  }
}
.productsRating{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.productsRating img{
  width: 100px;
}
.productId{
  font-family: arial;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
.modifyLink{
  color: rgb(0, 81, 255);
  font-size: 15px;
  margin-left: 10px;
}
.modifyLink:hover{
  text-decoration: none;
}
.claimToCartButton{
  width: 100%;
  height: 30px;
  border-radius: 25px;
  background-color: rgba(255, 217, 0, 0.945);
  color: black;
  margin-top: 20px;
  border: none;
}
.claimToCartButton:hover{
  opacity: 0.9;
}
.claimToCartButton:active{
  opacity: 0.7;
}

@media (max-width: 801px) {
  .container{
    grid-template-columns: 1fr;
  }
}

