body{
  font-family: system-ui;
  padding-top: 262px;
}

.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 160px;
  color: white;

  background-color: rgb(46, 144, 255);
  /* background: linear-gradient(rgb(233, 203, 203),
   rgb(174, 223, 255),
   rgb(255, 255, 255)); */

  border-bottom: 1px solid lightgrey;
}
.header img{
  width: 100%;
}
.headerLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerText{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
}
@media(max-width: 500px) {
  .headerText{
    font-size: 24px;
  }
}
/* navigations */
.navigationsBox{
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 60px 60px;
  height: 52px;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  position: fixed;
  top: 160px;
  left: 0;
  right: 0;
}
.navLinks{
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border: 3px solid transparent;
  height: 89%;
}
.navLinks:hover{
  border: 3px solid rgb(22, 39, 83);
}
.links{
  color: black;
  text-decoration: none;
}
.links:hover{
  color: rgb(17, 29, 63);
}


/* search container  */
.searchContainer{
  /* border-top: 1px solid rgb(236, 236, 236); */
  border-top: 1px solid rgba(46, 143, 255, 0.301); 
  background-color: rgb(248, 248, 248);
  padding-top: 130px;
  padding-bottom: 80px;
}
.searchContainer{
  /* background-image: url(../../imagesAndVideos/images/Porsches.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; */
  margin-top: 50px;
}
.mapsText,
.searchRandomlyText,
.searchParticularlyText{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  /* color: rgb(0, 0, 0); */
  color: rgb(46, 144, 255);
  /* background-color: rgb(250, 250, 250); */
  background-color: rgb(248, 248, 248); 
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: rgba(14, 96, 204, 0.753); */
  /* border-top: 1px solid rgba(46, 143, 255, 0.212);
  border-bottom: 1px solid rgba(46, 143, 255, 0.212); */
}
@media(max-width: 600px) {
  .mapsText,
  .searchRandomlyText,
  .searchParticularlyText{
    font-size: 25px;
  }
}

.mapsLink,
.searchRandomlyLink,
.searchParticularlyLink{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 40px;
}
.mapsLink button,
.searchRandomlyLink button,
.searchParticularlyLink button{
  /* background-color: rgba(0, 217, 255, 0.349); */
  /* font-size: 20px;
  background-color: rgb(46, 144, 255);
  border: none;
  border-radius: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  color: rgb(250, 250, 250); */

  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgb(46, 144, 255);
  color: white;
  border: 0.4px solid rgb(255, 255, 228); 
  border-radius: 50px;
  cursor: pointer;
}
.mapsLink button:hover,
.searchRandomlyLink button:hover,
.searchParticularlyLink button:hover{
  opacity: 0.9
}
.mapsLink button:active,
.searchRandomlyLink button:active,
.searchParticularlyLink button:active{
  opacity: 0.7;
}

.aboutContainer{
  font-size: 16px;
  background-color: rgb(226, 226, 226);
  box-shadow: -2px 0 5px rgba(52, 161, 204, 0.774);
  color: rgb(0, 0, 0);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 40px;
}
.red{
  color: red;
}
.link{
  color: rgb(0, 81, 255);
  display: grid;
  grid-template-columns: 24px 1fr;
  text-decoration: none;
  column-gap: 12px;
}
.textContainers{
  display: grid;
  grid-template-rows: 24px 24px 1fr;
  padding-top: 2px;
  padding-bottom: 2px;
}
.container{
  margin-bottom: 60px;
  background-color: rgb(219, 219, 219);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4px;
  padding-right: 4px;
  display: grid;
  grid-template-rows: 1fr;
}
.notification{
  background-color: rgb(248, 248, 248);
  color: rgb(0, 81, 255);
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-left: 4px;
  padding-right: 4px;
  align-items: center;
  box-shadow: -2px 0 5px rgba(52, 161, 204, 0.774);
  display: flex;
  flex-direction: column;
  position: relative;
}
.notificationIcon{
  width: 20px;
  margin-right: 10px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.notificationIcon img{
  width: 100%;
}
.topic{
  font-size: 14px;
  color: rgb(0, 101, 92);
}
.success{
  font-size: 12px;
  color: green;
}
.error{
  font-size: 12px;
  color: red;
}
.notificationText{
  font-size: 13px;
}
.time{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 10px;
  margin-top: 8px;
}
.deleteButton{
  font-size: 11px;
  color: white;
  border: none;
  background-color: red;
  padding: 6px;
  border-radius: 10px;
  width: 80px;
  position: absolute;
  right: 0;
  bottom: 0px;
}
.deleteButton:hover{
  opacity: 0.9;
}
.deleteButton:active{
  opacity: 0.7;
}

