<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About landbook</title>
  <link rel="stylesheet" href="/stylesheets/homePagesCSS/about-us.css">
  <link rel="stylesheet" href="/stylesheets/homePagesCSS/about-us-body.css">
</head>
<body>

  <div class="header">
    <div class="leftHeader">
      <div class="titles logoTitles">
        <img src="/imagesAndVideos/Logos/LOGO/Wow3.png" alt="" class="mainLogo">
      </div>
      <a href="/home/landbook" class="links">
        <div class="titles">
          Home
        </div>
      </a>
      <a href="/home/login" class="links">
        <div class="titles">
          Login
        </div>
      </a>
    </div>
    <div class="middleHeader">
      landbook.com
    </div>
    <div class="rightHeader">
      <!-- <a href="" class=""> -->
        <div class="titles">
          
        </div>
      <!-- </a> -->
      <a href="" class="links">
        <div class="titles">
          Investors
        </div>
      </a>
      <a href="" class="links">
        <div class="titles">
          Career
        </div>
      </a>
    </div>
  </div>

  <div class="containerTitle">
    L E A D E R S H I P
  </div>
  <div class="container">

    <div class="leftContainer">
      <img src="/imagesAndVideos/images/1747577598505.png" alt="" class="ceo">
      <div class="containerTitles">
        <div class="containersLogo">
          <img src="../for-images/banner1.png" alt="" class="logoImage">
        </div>
        <div class="containerMainTitles">
          <div class="containerMainTitle">
            Abdul Waseem Khan
          </div>
          <div class="leftContainerBelowTitle">
            Chief Executive Officer
          </div>
        </div>
      </div>
    </div>

    <div class="rightContainer">
      <div class="rightTopContainers">

        <div class="rightTopLeftContainer">
          <img src="/imagesAndVideos/images/1747577598505.png" alt="" class="top2">
          <div class="rightTopContainerTitles">
            <div class="logo">
              <img src="../for-images/banner1.png" alt="">
            </div>
            <div class="rTTitles">
              <div class="rTTmain">
                Reagan Lockwood
              </div>
              <div class="rTTrest">
                Chief Financial Officer
              </div>
            </div>
          </div>
        </div>

        <div class="rightTopRightContainer">
          <img src="/imagesAndVideos/images/1747577598505.png" alt="" class="top2">
          <div class="rightTopContainerTitles">
            <div class="logo">
              <img src="../for-images/banner1.png" alt="">
            </div>
            <div class="rTTitles">
              <div class="rTTmain">
                Bob Cain
              </div>
              <div class="rTTrest">
                Chief Operating Officer
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="containerTitle senior">
        S E N I O R <span></span> M A N A G E M E N T
      </div>
      <div class="rightBottomAllContainers">

        <div class="rightBottomContainers">
          <img src="/imagesAndVideos/images/1747577598505.png" alt="" class="top3">
          <div class="rightBottomContainerTitles">
            <div class="main">
              Maddie Lockwood
            </div>
            <div class="rest">
              Head of Public Relations
            </div>
          </div>
        </div>

        <div class="rightBottomContainers">
          <img src="/imagesAndVideos/images/1747577598505.png" alt="" class="top3">
          <div class="rightBottomContainerTitles">
            <div class="main">
              David Reyes
            </div>
            <div class="rest">
              Senior Vice President New Technologies
            </div>
          </div>
        </div>

        <div class="rightBottomContainers">
          <img src="/imagesAndVideos/images/1747577598505.png" alt="" class="top3">
          <div class="rightBottomContainerTitles">
            <div class="main">
              Pamela Johnson
            </div>
            <div class="rest">
              Senior Vice President Worldwide Communications
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- about us container starts -->
  <div class="aboutUsContainer">
    <div class="aboutUsTitle">
      About Us
    </div>
    <div class="contentTitles">
      What is <span class="logo">Landbook</span>, what it means, what do we do ?
    </div>
    <div class="content">
      <span class="logo">Landbook</span> is just not a website that just improvise...something with a product and services....<span class="logo">Landbook</span> means, it is a kind of book of zameen in which there are different pages of lands with precise details like book which offers you great opportunity to know the details about a land in just a couple of minutes. In <span class="logo">Landbook</span> you can find different lands with their khatauni images...also so that you can research about the zameen details too. <span class="highlights">What it means</span> ? So what is the pitch here...look you can find as many zameens through brokers, like this broker that broker and when broker says that yeah they got a zameen with them you can buy...then they get you some little informations about the land like what's the asking price and what is the length breadth and where is that land...which is good and we do that too in the sellpage in which lots of lands are there in and they give basic details about the land...like price (but these price cannot be more negotiated unlike brokers but we assure our users that users at <span class="logo">Landbook</span> cannot get lands at higher prices than broker's negotiated deals which they give you cause this price is already a negotiated price which you can see after you claim the land or buying a land where we give you all the details about what was the real price and what has the price become like this when we include the likhwayi + registration + our cost...) and you will be amazed how much less we get as <span class="logo">Landbook</span> convenience cost in giving our users all of the <span class="logo">Landbook</span> convenience, length breadth and many specifications of land by which you kinda can know where the land is and what is near the land....so <span class="highlights">What's the difference at this time</span> eg. buying through brokers and <span class="logo">Landbook</span> ? <span class="highlights">Much difference</span>. behind this the difference is time. How ? Look lets get to the broker point...when they get you the little details at that point... if it is in early morning...you have to get to the broker then you have a little talk where the land is and then if you have time, you have to follow the broker with to get to the land and and see how it looks and that will take nearly max to 1 day whole but lets say half day then if you like the land to some percent then you have to pay a lawyer to check about the land on another day if the land is under loan or not and also to verify the land ...so nearly about 2 days for one land....and in <span class="logo">Landbook</span> you can get to know about more about this land and can be in less than 1 hours and with no money to spending anywhere...can you imagine this how <span class="logo">Landbook</span> works ...and look about the details...you first go to sellpage where many lands are there and..also you can find lands through kinda google maps..too and when click on full on any land infividually then in land details page you can easily find and click on download the khatauni images of this zameen and you can check this detail of zameen is real or not and also crazy part of this is the spec part of the zameen is fully real and you can easily trust us with spec things and also we can assure you ..by <span class="logo">Landbook</span> that iif any spec about khatauni is not real or fake then you can sue us...
    </div>
    <div class="photos">
      <img src="/imagesAndVideos/Logos/LOGO/Wow2.webp" alt="">
      <a href="#" class="link">Download</a>
    </div>
    <div class="contactUs">
      Contact Us @: +91 6103342153
    </div>
    <div class="contentTitles">
      Top features @ <span class="logo">Landbook</span>
    </div>
    <div class="content">
      There is lots of features at <span class="logo">Landbook</span> but there is <span class="highlights">6 special features</span> of <span class="logo">Landbook</span>...eg. <b>First.</b> <b><span class="highlights2">Speedy</span></b>...if you really wanna buy a zameen fast you can just click the add to buying cart then fill the buing form...this will take care of the rest. How it will take care, you can check it out at <span class="logo">Landbook</span> help page. <b>Second.</b> <span class="highlights2"><b>Claim Cart</b></span>..this is really special and matters in buying a land...what it does is, if a land is there in <span class="logo">Landbook</span> that you fall in love with and wanna buy it.. but you didn't got enough money to buy but you think you can arrange the money for it...and then there comes the claim cart feature of <span class="logo">Landbook</span>...in which you just have to get to the product you wanna buy then just click add to claim cart then your account or you will be kind of attached to that product and whenever any of our customer would want to buy that zameen in near time or some times then you get a reserved 5 hours time in which if you able to give bayana in given time not buy fully the land but only give bayana to that land then you can actually buy the zameen and here is a more pitch in it....eg. after claiming the land if you just forgot about the land that if the land is being bought by or not, we will also notify you when someone is trying to buy the land or we can say if someone filled the buying form then also you will be notified that you have 5 hours chance to buy the land you once loved then if you able to give bayana to that land offline at land's city <b>Landbook query house</b> and after that can get a more time to buy the zameen after the bayana but a <span class="highlights">Reminder </span> here again is the time for claimed people to give bayana is limited eg. You only got 5 hours time to given bayana but don't worry you get the time only in between 7 in the morning to night 7 at night eg.. buying people can only be able to fill the buying form which initiate the claimed people time only in between 7 am to 2 pm which initiate timing of 5 hours upto 7 in the evening... <b>Third</b> ... and there is this <span class="highlights2"><b>Search lands through map</b></span> which is first time in the whole world to be able to give you option to search lands through google maps in your phone or PC through <span class="logo">Landbook and Google maps collaboration</span>...which offers you different cluster(s) of markers of lands based of lands in different-different areas and when click or zoom in it, the cluster changes to different markers and these markers are basically lands. To view the lands you just have to click on marker then a popup will open and there will be minute details of the product at that location and there will be a link which when clicked by user they will be directed to the land full details...page.. <span class="highlights">isn't it awesome ?</span> ...fourth... <span class="highlights2">Khatauni specification details</span> ...you can see the khatauni details of a land in lands full details page and vishwas kar sakte hain with eyes closed because if any anyt of the information gets wrong you have full authority to complaint us on the giving false information...on the land details...and believe it or not this information is only openly given to users with assurance of not a false information because this is leading thing for user to get the information about the zameen in short time and can directly jump at the add to buying cart...and it improvise the speedy process of <span class="logo">Landbook</span>... fifth... <span class="highlights2">Searching lands of your tehsil easily</span> and this is also unique in its own way...look first if you wanna buy a land in your tehsil then you have to search for that tehsil in search page but landbook gives you not only two but <span class="highlights">three easy ways in searching lands according to a tehsil or city</span> eg. At main home page there should be an option of your city if <span class="logo">landbook</span> is in that city like, if you want a land in basti city then there should be basti in among the all cities in the main home page then you click on that city then a dropdown will be open and there you can select the tehsil in which you wanna buy a land then after that all pages will be in the tehsil you selected...didn't got what i said ... Look, after selecting tehsil at main home page, then if you get to the all <span class="highlights">Landbook products page</span> then all products will be only of that tehsil you selected and also, if you claim a land then when you get to your claim cart page, only lands of that tehsil you selected earlier only will be there even if you claimed lands of other tehsil or city too but at that moment only claimed land of that tehsil land will be there at first. But offcourse, there is filter(sort by) option is available by <span class="logo">landbook</span> in all <span class="highlights">Landbook products page</span> and there is also search options but this feature will allow you confidence that if you select the tehsil at first at <span class="logo">Landbook</span> main home page then to everywhere there will be products in a. Landbook products page b. Landbook claim cart page c. Landbook buying cart page. so that you will be confirmed that everywhere you see a land will be of that tehsil so that you don't have to see about where the land is... but only if you don't touch the city and tehsil filter in anywhere in the landboook...sixth... <span class="highlights2">Asta(8) rule of <span class="logo">Landbook</span></span> .. so the asta rule of <span class="logo">Landbook</span> is more like a kind of assurance by which we assure you that if you see the lands through <span class="logo">Landbook</span> and see the 8 things <span class="highlights">(asta)</span> of land that we gave you in land details page then you will be able to know nearly 98% percent of the lands in which 2% is the information about the owner of the land...which is not given... <span class="highlights">so what does asta includes ?</span> ...the first five images of the individual land + 1 360° view image of that land + <span><a href="" class="contentLinks">Badnaam image</a></span> + Khatauni images of that land... and they will take care of the rest....
    </div>
    <div class="contentTitles">
      Why to trust on <span class="logo">Landbook</span> ?
    </div>
    <div class="content">
      I think at this point no one can give an assurance of to trust them or not...but there is nothing to trust in <span class="logo">landbook</span>...sounds odd? Look there is one thing on which we want to assure you to trust on us eg. the <span class="highlights">Khatauni specification details</span> which if you have any doubt then you easily check it out yourself manually while downloading the khatauni images of the Land and check it...by yourself and your lawyer. In <span class="logo">Landbook's</span> <span><a href="" class="contentLinks">Asta </a></span> thing which ensure our users that if they take a proper look at the <span><a href="" class="contentLinks">Asta </a></span> thing, they will know nearly 98% of about the individual land in which 2% is the owner of the land details which we don't want to expell... and if any of our user have any doubt then you can first get to the product details page then get to know where the land is through product details and maps or <span class="highlights">contact Landbook</span> and then you can manually go and check it out...yourself...and in terms of buying there will be proper partiality in buying and fully offline process just the difference is, you will be buying this land through <span class="logo"> Landbook </span> platform and every buying papers, you can check it yourself with your lawyer too that if the stamp or other thing is real or not because we are aware of all the frauds that's happening right now and want to protect our <span class="highlights2">Landbook Users</span> from it too. So, it's like buying a product online through cash on delivery which if you have any doubt then you can take your lumps and back out easily. What we try to do is just provide conveniece to <span class="highlights"> our Landbook users </span> so that you don't have to waste you time and money...
    </div>
  </div>

</body>
</html>