<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about us new page</title>

  <link rel="stylesheet" href="/stylesheets/homePagesCSS/about-us-new.css">

</head>
<body>

  <div class="header">
    <div class="leftHeader">
      <div class="titles logoTitles">
        <img src="/imagesAndVideos/Logos/LOGO/Wow3.png" alt="" class="mainLogo">
      </div>
      <a href="/home/landbook" class="links">
        <div class="titles">
          Home
        </div>
      </a>
      <a href="/home/login" class="links">
        <div class="titles">
          Login
        </div>
      </a>
    </div>
    <div class="middleHeader">
      landbook.com
    </div>
    <div class="rightHeader">
      <!-- <a href="" class=""> -->
        <div class="titles">
          
        </div>
      <!-- </a> -->
      <a href="" class="links">
        <div class="titles">
          Investors
        </div>
      </a>
      <a href="" class="links">
        <div class="titles">
          Career
        </div>
      </a>
    </div>
  </div>

  <div class="container">
    <div class="leftContainerTitle">
      L E A D E R S H I P
    </div>

    <div class="containerContents">
      <div class="leftContainer">
        <img src="/imagesAndVideos/images/1747577598505.png" class="ceo" alt="">

        <div class="leftContainerBottomContents">

          <div class="leftContainerBottomLeft">
            <img src="/imagesAndVideos/Logos/LOGO/Wow3.png" alt="">
          </div>
          <div class="leftContainerBottomRightContents">
            <div class="leftContainerBottomRightTop">
              Abdul Waseem Khan
            </div>
            <div class="leftContainerBottomRightBottom">
              Chief Executive Officer
            </div>
          </div>

        </div>
      </div>

      <div class="rightContainer">
        <div class="rightTopContainer">

          <div class="rightTopLeftContainer">
            <img src="/imagesAndVideos/images/1747577598505.png" alt="">

            <div class="rightTopLeftBottomContents">
              <div class="rightTopLeftBottomLeft">
                <img src="/imagesAndVideos/Logos/LOGO/Wow3.png" alt="">
              </div>
              <div class="rightTopLeftBottomRightContents">
                <div class="rightTopLeftBottomRightTop">
                  Reagan Lockwood
                </div>
                <div class="rightTopLeftBottomRightBottom">
                  Chief Financial Officer
                </div>
              </div>
            </div>

          </div>

          <div class="rightTopRightContainer">
            <img src="/imagesAndVideos/images/1747577598505.png" alt="">

            <div class="rightTopRightBottomContents">
              <div class="rightTopRightBottomLeft">
                <img src="/imagesAndVideos/Logos/LOGO/Wow3.png" alt="">
              </div>
              <div class="rightTopRightBottomRightContents">
                <div class="rightTopRightBottomRightTop">
                  Bob Cain
                </div>
                <div class="rightTopRightBottomRightBottom">
                  Chief Operating Officer
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="rightBottomContainer">

          <div class="rightBottomContainerTitle">
            S E N I O R <span class="space"></span> M A N A G E M E N T
          </div>

          <div class="rightBottomContainerContents">

            <div class="rightBottomLeftContainer">
              <div class="rightBottomLeftContent">
                <img src="/imagesAndVideos/images/1747577598505.png" alt="">
              </div>
              <div class="rightBottomRightContents">
                <div class="rightBottomRightContentsTop">
                  Reagan Lockwood
                </div>
                <div class="rightBottomRightContentsBottom">
                  Chief Financial Officer
                </div>
              </div>
            </div>

            <div class="rightBottomMiddleContainer">
              <div class="rightBottomLeftContent">
                <img src="/imagesAndVideos/images/1747577598505.png" alt="">
              </div>
              <div class="rightBottomRightContents">
                <div class="rightBottomRightContentsTop">
                  Reagan Lockwood
                </div>
                <div class="rightBottomRightContentsBottom">
                  Chief Financial Officer
                </div>
              </div>
            </div>

            <div class="rightBottomRightContainer">
              <div class="rightBottomLeftContent">
                <img src="/imagesAndVideos/images/1747577598505.png" alt="">
              </div>
              <div class="rightBottomRightContents">
                <div class="rightBottomRightContentsTop">
                  Reagan Lockwood
                </div>
                <div class="rightBottomRightContentsBottom">
                  Chief Financial Officer
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>



</body>
</html>