
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>admin product Calculator</title>
  <link rel="stylesheet" href="/stylesheets/homePagesCSS/admin-products-calculator.css" />
</head>
<body>

  <div class="header">
    <div class="title">
      Landbook
    </div>
    <div class="aboutPage">
      Admin calculator page
    </div>
  </div>

  <div class="calculator-container">
    <h2>Price Calculator</h2>
    <input type="number" id="sellerPrice" placeholder="Enter Original Price" step="0.01"/>
    <!-- <button onclick="calculate()">Calculate</button> -->
    <div class="result" id="result"></div>
  </div>

  <script src="/javascripts/admin-product-calculator.js"></script>
</body>
</html>
