<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change profile picture</title>
</head>
<body>

  <form action="/home/changing-profile-pic" method="post" enctype="multipart/form-data">
    <input type="file" name="profilePic" accept="image/*" required>
    <button type="submit">Upload profile picture</button>
  </form>
  
</body>
</html>