<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>compressing-page</title>
  <link rel="stylesheet" href="/stylesheets/sellingPagesCSS/compress-css.css">
  <link rel="stylesheet" href="/stylesheets/claimCartPagesCSS/claimCartHeader.css">
  <link rel="stylesheet" href="/stylesheets/buyingCartPagesCSS/buying-now-cart-footer.css">
</head>
<body>

    <!-- header -->
    <div class="cartHeading">
      <div class="cartHeadingLogo">
        <a href="/home/landbook">
          <img src="/imagesAndVideos/Logos/LOGO/Wow3.png" alt="">
        </a> 
      </div>
      <div class="cartHeadingText">
        Landbook compressing image page
      </div>
    </div>
  
    <!-- navigations -->
    <div class="navigationsBox">
      <a href="/us/landbook" class="links">
        <div class="navLinks">
          Home
        </div>       
      </a>
  
      <a href="/us/skyman-panel" class="links">
        <div class="navLinks">
          Skyman panel
        </div>
      </a>
  
    </div>

  <h2>Compress and Download Your Images</h2>
  <form id="compressForm" enctype="multipart/form-data" method="POST" action="/home/compress-images">
    <input type="file" name="images" accept="image/*" multiple required class="inputs">
    <button type="submit" class="submit-button">Compress & Download ZIP</button>
  </form>

  <footer>

    <div class="aboutThisPage">
      <div class="pageLanguage">
        <div class="languageImage">
          <img src="/imagesAndVideos/Logos/LOGO/Wow3.webp" alt="">
        </div>
        <div class="languageText">
          English
        </div>  
      </div>

      <div class="aboutCountry">
        <div class="aboutCountryImage">
          <img src="/imagesAndVideos/Logos/LOGO/Wow4.webp" alt="">
        </div>
        <div class="aboutCountryText">
          India
        </div>
      </div>
    </div>

    <div class="aboutCompany">
      <div class="companyConditions aboutCompanyTexts">
        Conditions of Use
      </div>
      <div class="companyPrivacyPolicy aboutCompanyTexts">
        Privacy Notice
      </div>
      <div class="aboutAdvertising aboutCompanyTexts">
        Interest-Based Ads
      </div>
    </div>

    <div class="companyCopywrite">
      .c. 1996-2024, Landbook.com, Inc. and its affiliates
    </div>

  </footer>

</body>
</html>