<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login page</title>
  <link rel="stylesheet" href="/stylesheets/homePagesCSS/loginPage.css">
</head>
<body>

  <div class="header">
    <div class="headerTitle">
      Welcome to <span>landbook.com</span>
    </div>
  </div>
  <div class="pageHeading">
    Sign up / Login / Logout page
  </div>


  <div class="aboutContainer">
    <div class="about1">
      This is the page by <span class="logo">Landbook</span> where customers can either Sign up/ login/ logout
    </div>
    <div class="skipLink">
      <div class="link">
        <a href="/home/landbook">Skip for now</a> 
      </div>
    </div>
    <div class="about2">
      Customers can <span class="skip">skip</span> login/ sign up also for now but in some regions of the <span class="logo">landbook.com</span> you'll need to login then you'll be able to use nearly all convenience of landbook. So, in order to lack inconvenience when try to do importact drilling in Landbook hurry up and login now... 
    </div>
  </div>

  <div class="logout">
    <a href="/home/userlogout" class="logoutLink">Logout</a>
  </div>  

  <% if(error.length > 0) { %>
    <div class="flash flash-error">
      <%= error %>
    </div>
  <% } %>
  <% if(success.length > 0) { %>
    <div class="flash flash-success">
      <%= success %>
    </div>
  <% } %>

  <div class="container">

    <div class="loginBox">
      <div class="title">
        Login
      </div>
      <form action="/home/userlogin" method="post" onsubmit="return validatePassword()">
        <input type="text" placeholder="Enter username" class="username" name="username" required>
        <input id="password" minlength="5" type="password" placeholder="Enter your password" class="password" name="password" required>
        <a href="/us/user/forgotPass" class="forgotPass">
          forgot password?
        </a>
        <input type="submit" value="Login" class="login">
      </form>
    </div>

    <div class="signUpBox">
      <div class="title">
        Sign up
      </div>
      <form action="/home/usersignup" method="post" id="signupForm" onsubmit="return validatePassword()">
        <input type="text" placeholder="Enter your name" class="name" name="name" required>
        <input type="userName" placeholder="Enter your username" class="username" name="username" required>
        <input type="number" placeholder="Your correct contact number" class="number" name="contactNumber" required>
        <input type="email" placeholder="abc@gmail.com" class="email" name="email" required>

        <input type="password" id="password" minlength="5" placeholder="Create password" class="password" name="password" required>

        <input type="password" minlength="5" placeholder="Re-enter Password" class="password" id="confirmPassword" name="confirmPassword" required>

        <div id="message"></div> <br>
        <span id="errorMsg" style="color: red; display: block;"></span>
        <input type="submit" value="Sign Up" class="signUp">
      </form>
    </div>
    
  </div>

  <div class="footer">
    <div class="footers">
      <a href="/home/aboutus" class="footerLinks">
        Contact us
      </a>
    </div>
    <div class="footers">
      <a href="/home/newaboutus" class="footerLinks">
        About us
      </a>
    </div>
  </div>

  <script>
    function validatePassword() {
      const input = document.getElementById('password');
      const errorMsg = document.getElementById('errorMsg');
      if(input.value.length > 5) {
        errorMsg.textContent = 'Password must be at least 5 characters long.';
        return false;
      }
      return true;
    }

    // document.querySelector('form').addEventListener('submit', (e) => {
    //   const password = document.querySelector('input[name="password"]').value;
    //   const confirmPassword = document.querySelector('input[name="confirmPassword"]').value;

    //   if(password !== confirmPassword) {
    //     e.preventDefault();
    //     alert('Passwords do not match!');
    //   }
    // });
    // const password = document.querySelector('input[name="password"]').value;
    // const confirmPassword = document.querySelector('input[name="confirmPassword"]').value;
    // const message = document.getElementById('message');

    // function checkPasswords() {
    //   if(confirmPassword === '') {
    //     message.textContent = '';
    //     return;
    //   }
    //   if(password === confirmPassword) {
    //     message.style.color = 'green';
    //     message.textContent = 'Passwords matched!'
    //   } else {
    //     message.textContent = 'Passwords do not match';
    //     message.style.color = 'red'
    //   }
    // }
    // password.addEventListener('input', checkPasswords);
    // confirmPassword.addEventListener('input', checkPasswords);

    // function toggleVisibility(id) {
    //   const input = document.getElementById(id);
    //   input.type = input.type === 'password' ? 'text' : 'password';
    // }

    // document.getElementById('signupForm').addEventListener('submit', (e) => {
    //   if(password !== confirmPassword) {
    //     e.preventDefault();
    //     alert('Passwords do not match!');
    //   }
    // });

  </script>

</body>
</html>