<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proper Search Page</title>

      <link rel="stylesheet" href="/stylesheets/buyingPagesCSS/proper-and-random-search-body.css">
      <link rel="stylesheet" href="/stylesheets/buyingPagesCSS/proper-and-random-search-footer.css">
      <link rel="stylesheet" href="/stylesheets/buyingPagesCSS/proper-and-random-search-header.css">
      <link rel="stylesheet" href="/stylesheets/buyingPagesCSS/proper-and-random-search-products.css">
      <link rel="stylesheet" href="/stylesheets/buyingPagesCSS/proper-and-random-search-sidebar.css">

</head>
<body>
      <!-- header container -->
  <div class="header">
    <div class="leftHeader">
      <a href="/home/basti/buy"><img src="/imagesAndVideos/Logos/LOGO/Wow3.png" alt=""></a>
    </div>
    <div class="middleHeader">
      <input type="text" placeholder="Search Particularly" class="searchBar">
      <button class="searchButton">
        <img src="/imagesAndVideos/Logos/Search Icon.svg" alt="">
        <div class="tooltip">
          Search
        </div>
      </button>
      <button class="voiceButton">
        Voice
        <div class="tooltip">
          Search with your voice
        </div>
      </button>
    </div>
    <div class="rightHeader">
      <div class="locationIcon">
        <button class="locationButton">
          <img src="/imagesAndVideos/Logos/Marker icon.svg" alt="">
        </button>
        <div class="tooltip">
          Your Location
        </div>
      </div>
      <a href="../../all-new-pages/new-cart.html">
        <div class="cartIcon">
          <button class="cartButton"> 
            <img src="/imagesAndVideos/Logos/Cart Icon.svg" alt="">
            <div class="tooltip">
              Lands in Cart
            </div>
            <div class="cart-quantity js-cart-quantity">
              0
            </div>
          </button>   
        </div>
      </a>
      <div class="profileIcon">
        <button class="profileButton">
          <img src="/imagesAndVideos/Logos/User profile icon.svg" alt="">
          <div class="tooltip">
            Your Profile
          </div>
        </button> 
      </div>
    </div>
  </div>

<!-- sidebar container -->
    <div class="sidebarContainer">
      <div class="advertisingSidebar sidebarContents">
        <img src="/imagesAndVideos/Logos/LOGO/Wow4.webp" alt="">
        Landbook
      </div>
      <div class="cartIconSidebar sidebarContents">
        <img src="/imagesAndVideos/Logos/Cart Icon.svg" alt="">
        Buying Cart
      </div>
      <div class="helpIcon sidebarContents">
        <img src="/imagesAndVideos/Logos/Help icon.svg" alt="">
        Need Help
      </div>
      <div class="supportUsIcon sidebarContents">
        <img src="/imagesAndVideos/Logos/User feedback icon.svg" alt="">
        Support Us
      </div>
      <div class="aboutUsIcon sidebarContents">
        <img src="/imagesAndVideos/Logos/About us icon.svg" alt="">
        About Us
      </div>
    </div>

    <!-- product lists in this container through javascript -->
    <div class="container">
    </div>


      <!-- footer container -->
  <footer>

    <div class="aboutThisPage">
      <div class="aboutThisPageLanguage">
        <div class="languageImage">
          <img src="/imagesAndVideos/Logos/LOGO/Wow3.webp" alt="">
        </div>
        <div class="languageText">
          English
        </div>  
      </div>

      <div class="aboutCountry">
        <div class="aboutCountryImage">
          <img src="/imagesAndVideos/Logos/LOGO/Wow4.webp" alt="">
        </div>
        <div class="aboutCountryText">
          India
        </div>
      </div>
    </div>

    <div class="aboutCompany">
      <div class="companyConditions aboutCompanyTexts">
        Conditions of Use
      </div>
      <div class="companyPrivacyPolicy aboutCompanyTexts">
        Privacy Notice
      </div>
      <div class="aboutAdvertising aboutCompanyTexts">
        Interest-Based Ads
      </div>
    </div>

    <div class="companyCopywrite">
      .c. 1996-2024, Landbook.com, Inc. and its affiliates
    </div>

  </footer>

    
    <script type="module" src="../../all-new-pages/new-page-of-selling/new-page-of-selling-js/new-page-of-selling.js"></script>

</body>
</html>