/* .yourBuyingZameen{
  margin-top: 70px;
  background-color: rgb(247, 247, 247);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  border-top: 2px solid  rgb(0, 140, 165);
  border-left: 2px solid  rgb(0, 140, 165);
  border-right: 2px solid  rgb(0, 140, 165);
} */
.flash{
  padding: 20px;
  margin: 10px 0;
  border-radius: 4px;
  font-weight: bold;
}
.flash-success{
  background-color: #d4edda;
  color: #155724;
}
.flash-error{
  background-color: #f8d7da;
  color: #721c24;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 40px;
  margin-top: 18px;
  border-top: 2px solid  rgb(0, 140, 165);
  border-right: 2px solid  rgb(0, 140, 165);
  border-left: 2px solid  rgb(0, 140, 165);
  padding: 20px;
  background-color: rgb(247, 247, 247);
  width: 96.6%;
}
@media(max-width: 1000px) {
  .container{
    padding: 20px;
  }
}
.productsImage img{
  width: 100%;
  margin-bottom: 12px;
}
.productsContainer{
  max-width: 360px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(228, 228, 228);
  padding: 12px;
}
.productsStats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
}
.productsPriceAndLB{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.productsPrice{
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productsLB{
  color: rgb(161, 137, 0);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productsSpec{
  font-weight: bold;
  color: rgb(18, 83, 18);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.productsStats{
  margin-top: 15px;
  font-size: 14px;
  color: rgb(46, 46, 46);
  margin-bottom: 16px;
}
.productsRating{
  display: flex;
  align-items: start;
  justify-content: center;
}
.productsRating img{
  width: 100px;
}
.productsClaim{
  display: flex;
  align-items: start;
  justify-content: flex-end;
}
@media(max-width: 570px) {
  .productsClaim{
    justify-content: flex-start;
  }
}
.claimToCartButton{
  width: 100%;
  height: 30px;
  border-radius: 25px;
  background-color: rgba(255, 217, 0, 0.945);
  margin-top: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.claimToCartButton:hover{
  opacity: 0.9;
}
.claimToCartButton:active{
  opacity: 0.7;
}

@media (max-width: 801px) {
  .container{
    grid-template-columns: 1fr;
  }
}
@media(max-width: 450px) {
  .container{
    padding: 80px;
  }
}
@media(max-width: 410px) {
  .container{
    padding: 50px;
  }
}
