body{
  font-family: system-ui;
  padding-top: 142px;
}

.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 100px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid lightgrey;
}
.headerLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img{
  width: 100%;
}
@media(max-width:700px) {
  .header img{
    width: 90%;
  }
}
@media(max-width: 474px) {
  .header img{
    width: 80%;
  }
}
.headerText{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
@media(max-width: 700px) {
  .headerText{
    font-size: 23px;
  }
}
/* navigations */
.navigationsBox{
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 110px 56px 80px;
  height: 52px;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  font-size: 14px;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
}
.navLinks{
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  border: 3px solid transparent;
  height: 89%;
}
.navLinks:hover{
  border: 3px solid rgb(22, 39, 83);
}
.links{
  color: black;
  text-decoration: none;
}
.links:hover{
  color: rgb(17, 29, 63);
}