/* form of selling codes */
body{
  font-family: arial, sans-serif;
}
.warning{
  color: red;
  /* background-color: gold; */
  font-size: 18px;
  font-style: italic;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.logo{
  color: red;
}
.logo:hover{
  color: rgb(0, 81, 255);
}
.formHeading{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  /* border-top: 1px solid rgb(196, 196, 196); */
  background-color: rgb(255, 255, 255);
  padding-top: 12px;
  padding-bottom: 12px;

}
.wanna{
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  background-color: rgb(10, 35, 68);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 38px;
}
.preview{
  color: white;
}
.preview:hover{
  text-decoration: none;
  color: rgb(27, 197, 209);
}
.formMiddleHeading{
  color: rgb(48, 48, 48);
  margin-bottom: 8px;
  background-color: rgb(247, 247, 247);
  padding: 5px;
  border-top: 1px solid rgb(218, 218, 218);
  border-left: 1px solid rgb(218, 218, 218);
  border-right: 1px solid rgb(218, 218, 218);
  line-height: 30px;
}
.formMiddleHeading2{
  color: rgb(48, 48, 48);
  margin-bottom: 30px;
  background-color: rgb(247, 247, 247);
  padding: 5px;
  border-top: 1px solid rgb(218, 218, 218);
  border-left: 1px solid rgb(218, 218, 218);
  border-right: 1px solid rgb(218, 218, 218);
  line-height: 30px;
}
.logoName{
  color: rgb(10, 100, 14);
  font-weight: bold;
}
.highlighted{
  color: rgb(0, 145, 170);
  font-weight: bold;
  font-style: italic;
}
.goodHighlights{
  color: rgb(179, 154, 15);
  font-weight: bold;
}
.formFinalHeading{
  font-size: 18px;
  color: black;
  background-color: rgb(247, 247, 247);
  padding: 5px;
  border-top: 1px solid rgb(218, 218, 218);
  border-left: 1px solid rgb(218, 218, 218);
  border-right: 1px solid rgb(218, 218, 218);
  line-height: 28px;
}
input{
  margin-left: 10px;
  margin-bottom: 20px;
}
.errorFlash{
  display: none;
  margin-top: 10px;
  padding: 10px;
  background: #ffefef;
  color: #b20000;
  border-radius: 8px;
  /* border: 1px solid #b20000; */
  font-size: 14px;
}

.sellingForm{
  border: 1px solid rgb(190, 190, 190);
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.sellingFormHeading{
  background-color: rgb(247, 247, 247);
  font-size: 34px;
  font-weight: bold;
  color: rgb(10, 35, 68);
  padding: 14px;
  margin-bottom: 18px;
}
.naming,
.mobileNumber,
.emailContainer,
.chooseCityContainer,
.addressContainer{
  padding: 12px;
  font-size: 16px;
}
.name,
.number,
.email,
.chooseCity,
.address{
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border: 1px solid rgb(218, 218, 218);
  font-size: 15px;
}
.khatauniContainer{
  padding: 12px;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 1px solid rgb(218, 218, 218);
}
.khatauni{
  width: 100%;
  height: 50px;
  margin-top: 15px;
  /* border: 1px solid rgb(218, 218, 218); */
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resetButton{
  background-color: rgba(170, 0, 0, 0.877);
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: 11px;
  margin-top: 30px;
  color: white;
  border-radius: 20px;
  border: none;
}
.resetButton:hover{
  opacity: 0.9;
}
.resetButton:active{
  opacity: 0.7;
}
.submitButton{
  background-color: green;
  color: white;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 98%;
  margin-bottom: 20px;
  border-radius: 25px;
  margin-left: 11px;
  margin-right: 16px;
  margin-top: 16px;
  text-align: center;
  border: none;
}
.submitButton:hover{
  opacity: 0.9;
}
.submitButton:active{
  opacity: 0.7;
}

/* buying summary */
.buyingSummary{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  border: 1px solid rgb(224, 224, 224);
  font-family: system-ui;
  /* height: 100%; */
}
.buyingSummaryHeading{
  font-weight: bolder;
  font-size: 32px;
  margin-top: 16px;
  margin-right: 10px;
  margin-left: 10px;
}
@media(max-width: 500px) {
  .buyingSummaryHeading{
    font-size: 28px;
  }
}
.numberOfZameens{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 55px;
  color: rgb(24, 24, 24);
  font-weight: bold;
}
.numberOfZameens span{
  font-weight: bold;
  color: green;
}
@media(max-width: 500px) {
  .numberOfZameens{
    font-size: 19px;
  }
}
.buyingSummaryContentsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.buyingSummaryContents{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 4px;
  margin-bottom: 30px;
  font-size: 17px;
  color: rgb(46, 46, 46);
}
.landbookTitle{
  color: white;
  padding: 10px;
  background-color: rgb(0, 81, 255);
  margin-bottom: 20px;
}
.brokerTitle{
  color: white;
  background-color: blueviolet;
  padding: 10px;
  margin-bottom: 20px;
}
@media(max-width: 500px) {
  .landbookTitle,
  .brokerTitle{
    font-size: 15px;
  }
}
.titles{
  margin-bottom: 5px;
  font-size: 15px;
  text-align: center;
  line-height: 23px;
}
.convenienceLinks{
  /* color: rgb(0, 81, 255); */
  color: black;
  text-decoration: underline;
  display: inline-block;
}
.convenienceLinks:hover{
  text-decoration: none;
  color: rgb(0, 81, 255);
}
.links:hover{
  text-decoration: none;
  color: rgb(0, 81, 255);
}
.logo,
.landbookPrice{
  color: rgb(0, 81, 255);
}
.numbers{
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbers b{
  margin-right: 5px;
}
@media(max-width: 500px) {
  .numbers{
    font-size: 14px;
  }
}
.landbookConvenience{
  color: green;
  margin-bottom: 20px;
}
@media(max-width: 500px) {
  .landbookConvenience,
  .brokerConvenience{
    font-size: 15.5px;
  }
}
.landbookPrice{
  color: green;
}
.brokerConvenience{
  color: blueviolet;
}
.sourceLinks{
  font-size: 15px;
  color: black;
  text-decoration: underline;
  display: inline-block;
}
.sourceLinks:hover{
  text-decoration: none;
  color: blueviolet;
}
.lastTitles{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
@media(max-width: 500px) {
  .lastTitles{
    font-size: 15px;
  }
}
.landbookPriceTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  margin-bottom: 30px;
}
@media(max-width: 500px) {
  .landbookPriceTitle{
    font-size: 15.8px;
  }
}
.landbookPrice{
  display: flex;
  justify-content: center;
  color: rgb(0, 81, 255);
}
.sellerTitle{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
  font-size: 16px;
  color: rgb(0, 107, 247);
}
.sellerDetails{
  background-color: rgb(228, 228, 228);
  color: rgb(0, 0, 0);
  padding: 10px;
  border: 1px solid lightgrey;
  font-size: 14px;
  margin-top: 30px;
}