.flash{
  padding: 20px;
  margin: 10px 0;
  border-radius: 4px;
  font-weight: bold;
}
.flash-success{
  background-color: #d4edda;
  color: #155724;
}
.flash-error{
  background-color: #f8d7da;
  color: #721c24;
}

/* .containerUpperPortion{
  border-top: 1px solid rgb(39, 102, 165);
  border-left: 1px solid rgb(39, 102, 165);
  border-right: 1px solid rgb(39, 102, 165);
  background-color: rgb(221, 221, 221);
  height: 300px;
  width: 100%;
} */

/* for dropdown css starts here */
.dropdown-container{
  position: relative;
  width: 100%;
  /* background: #f0f0f0; */
  cursor: pointer;
  border: 1px solid #ccc;
  user-select: none;
}
.dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.dropdown div{
  padding: 10px;
  cursor: pointer;
}
.dropdown div:hover{
  background-color: #efefef;
}
.hidden{
  display: none;
}
/* for dropdown css ends here */
.hidden{
  display: none;
}
.aboutPage{
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: system-ui;
  font-size: 13px;
  background-color: rgb(248, 248, 248);
  color: rgb(0, 81, 255);
  padding-left: 4px;
  padding-top: 10px;
  padding-right: 4px;
  padding-bottom: 10px;
  /* border-left: 1px solid rgb(39, 102, 165);
  border-right: 1px solid rgb(39, 102, 165); */
  justify-content: center;
  align-items: center;
  word-spacing: 4px;
  line-height: 22px;
  box-shadow: 0px 4px 6px rgba(0, 61, 153, 0.1);
}
@media(max-width: 370px) {
  .aboutPage{
    font-size: 11px;
  }
}
#last-visited-link{
  color: white;
}
#last-visited-text{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 4px;
}
.links{
  /* color: white; */
  text-decoration: none;
  display: block;
  color: white;
}
.specialLink{
  padding: 8px;
  color: black;
}
.specialLink:hover{
  background-color: rgb(243, 243, 243);
}
.top3Columns{
  /* background-color: lightblue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  height: 100%;
  margin-top: 20px;
}
@media(max-width: 550px) {
  .top3Columns{
    grid-template-columns: 1fr;
    height: 100%;
    row-gap: 10px;
    margin-top: 20px;
  }
  /* .tops1,
  .tops2,
  .tops3{
    background-position: top;
  } */
}
.tops1{
  background: linear-gradient(-45deg, rgb(0, 101, 95), #c26a05, rgb(0, 101, 95), #0cac2f, rgb(0, 81, 255));
  background-size: 400% 400%;
  animation: gradientShift 6s ease infinite;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  border: 2px solid transparent;
  height: 340px;
}
.tops2{
  background: linear-gradient(-45deg, rgb(0, 81, 255), #c26a05, rgb(0, 101, 95), #0cac2f);
  background-size: 400% 400%;
  animation: gradientShift 4s ease infinite;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  border: 2px solid transparent;
  height: 340px;
}
.tops3{
  background: linear-gradient(-45deg, rgb(0, 81, 255), #c26a05, rgb(0, 81, 255), #0cac2f);
  background-size: 400% 400%;
  animation: gradientShift 8s ease infinite;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  border: 2px solid transparent;
  height: 340px;
}
/* for animations */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.placeAndPrice{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
  margin-left: 4px;
  margin-right: 4px;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  text-align: center;
}
@media(max-width: 400px) {
  .placeAndPrice{
    font-size: 14px;
  }
  .startingPrices{
    font-size: 9px;
  }
}
.tops:hover{
  border: 2px solid rgb(0, 148, 197);
}
.startingPrices{
  font-size: 13px;
  color: rgb(255, 255, 255);
  margin-top: 3px;
}
/* kind of advertising */
.kindOfAdvertising{
  /* height: 300px; */
  /* background-color: rgb(114, 114, 114); */
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 240px;
  /* column-gap: 10px; */
}
.pickUpContainer{
  display: grid;
  grid-template-rows: 30px 284px;
}
.pickWhereYouLeftTitle{
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  font-style: italic;
  font-weight: 600;
  background-color: black;
}
@media(max-width: 600px) {
  .kindOfAdvertising{
    grid-template-columns: 1fr;
  }
  .advertisement{
    height: 260px;
  }
  .pickWhereYouLeft{
    width: 350px;
  }
}
.pickLeftLink{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: italic;
  font-weight: 600;
  margin-top: -2px;
  text-align: center;

  /* background-image: url(/imagesAndVideos/images/yeah.jpg); */
  /* background: linear-gradient(-45deg, rgb(0, 81, 255), #c26a05, rgb(0, 101, 95), #0c71ac);
  background-size: 400% 400%;
  animation: gradientShift 4s ease infinite; */
  background: linear-gradient(135deg, #690691, rgb(0, 101, 95));
  border: 2px solid transparent;
  height: 300px;
}
.pickLeftLink:hover{
  border: 2px solid rgb(0, 148, 197);
}
#pickUpContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .pickWhereYouLeft{
  margin-bottom: 70px;
  padding: 10px;
  border-radius: 4px;
} */
.pickWhereYouLeftText{
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: flex-end;
  height: 80%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
  margin-left: 4px;
  margin-right: 4px;
}
.advertisement{
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(270deg, #a6ff00, #3333ff, rgb(0, 101, 95), oklab(79.12% -0.21229 0.16099 / 0.884)),url(../../Landbook.link.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  animation: bgMove 2s infinite alternate ease-in-out;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}
@keyframes bgMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.scrolling-text:hover,
.scrolling-text:hover .scrolling-text {
  animation-play-state: paused;
}
.scrolling-text{
  position: absolute;
  white-space: nowrap;
  font-size: 2.0rem;
  transform: translateX(0);
  font-weight: 500;
  animation: scrollText 640s linear infinite;
  background: linear-gradient(90deg, rgb(255, 255, 255), #ffffff, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes scrollText{
  0% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.brand{
  color: rgb(0, 81, 255);
  font-weight: 700;
}

/* search bar for searching states */
/* .searchContainerInPage{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 16px;
  margin-bottom: 10px;
}
.searchContainerInPage img{
  width: 100%;
}
.searchStatesByName{
  width: 100%;
  margin-top: 16px;
  margin-bottom: 10px;
}
.searchStatesBar{
  width: 100%;
  height: 40px;
  font-size: 16px;
}
.searchStates-Button{
  width: 59px;
  margin-top: 6.6px;
}
.searchStatesButton{
  width: 100%;
  background-color: rgb(142, 219, 153);
  border: 1px solid lightgrey;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
} */
.searchInputForStates{
  padding: 8px 12px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.cityCard{
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.horizontalLine{
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #377ec0, #20cf10);
  border-radius: 20px;
  margin-top: 50px;
}


/* rest of states */

.allStates{
  background-color: rgb(247, 247, 247);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 40px;
  height: 100%;
  /* margin-top: 20px; */
}
@media(max-width: 690px) {
  .allStates{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media(max-width: 585px) {
  .allStates{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.restOfStates{
  background-image: url(../../../images/bLVquIQ-messi-hd-wallpapers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  height: 250px;
}
.restOfStates:hover{
  border: 2px solid rgb(0, 148, 197);
}

