.flash{
  padding: 20px;
  margin: 10px 0;
  border-radius: 4px;
  font-weight: bold;
}
.flash-success{
  background-color: #d4edda;
  color: #155724;
}
.flash-error{
  background-color: #f8d7da;
  color: #721c24;
}
.mainSellingProductsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
}
#userSellingFormNumber{
  color: rgb(0, 46, 244);
  font-size: 14px;
  margin-left: 6px;
}
.sellingProductLink{
  text-decoration: none;
  color: black;
}
.sellingProductsImage img{
  width: 100%;
  margin-bottom: 12px;
}
.sellingProductsContainer{
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(228, 228, 228);
  padding: 12px;
}
.sellingProductsStats{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
}
.sellingProductsPriceAndLB{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.sellingProductPrice{
  margin-right: 20px;
}
.sellingProductsLB{
  color: rgb(161, 137, 0);
  font-size: 16px;
}
.sellingProductsSpec{
  font-weight: bold;
  color: rgb(18, 83, 18);
}
.sellingProductsStats{
  margin-top: 15px;
  font-size: 14px;
  color: rgb(46, 46, 46);
}
.sellingProductsRating{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sellingProductsRating img{
  width: 100px;
}
.sellingProductId{
  font-family: arial;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.sellingProductClaimToCartButton{
  width: 100%;
  height: 30px;
  border-radius: 25px;
  background-color: rgba(255, 217, 0, 0.945);
  color: black;
  margin-top: 20px;
  border: none;
}
.claimToCartButton:hover{
  opacity: 0.9;
}
.claimToCartButton:active{
  opacity: 0.7;
}

@media (max-width: 801px) {
  .mainSellingProductsContainer{
    grid-template-columns: 1fr;
  }
}
.changeSellingPrice{
  margin-top: 12px;
  display: inline-block;
  margin-right: 14px;
}
.changeSellingPriceLink{
  color: rgb(0, 81, 255);
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
}
.changeSellingPriceLink:hover{
  text-decoration: underline;
}
.noteForSellingNotAvail{
  color: red;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  word-spacing: 3px;
  margin-top: 8px;
  margin-left: -4px;
  padding: 4px;
  border-left: 1px solid rgb(196, 196, 196);
  border-right: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);
  display: block;
}
.noteForSelling{
  color: red;
  font-size: 12px;
  line-height: 22px;
  word-spacing: 3px;
  margin-top: 8px;
  margin-left: -4px;
  padding: 4px;
  border-left: 1px solid rgb(196, 196, 196);
  border-right: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);
  display: block;
}
.available{
  color: green;
  font-size: 13px;
  margin-top: 6px;
  display: inline-block;
}
.notAvailable{
  color: red;
  font-size: 13px;
  margin-top: 6px;
  display: inline-block;
}

