    body {
      font-family: Arial, sans-serif;
      /* padding: 200px; */
      margin-top: 250px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: start;
    }
    button {
      background-color: #0078ff;
      color: white;
      padding: 0.6rem 1.2rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      /* font-size: 1rem; */
    }
    button:hover {
      background-color: #005ecc;
    }
    .location-box {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
    .coord {
      width: 100%;
      padding: 0.4rem 0.8rem;
      border: 1px solid #ccc;
      border-radius: 6px;
      background: #f9f9f9;
    }
    .copy-btn {
      background-color: #28a745;
      padding: 0.4rem 0.8rem;
      border: none;
      border-radius: 6px;
      color: white;
      cursor: pointer;
    }
    .copy-btn:hover {
      background-color: #1f8c3a;
    }


    .flash{
  padding: 20px;
  margin: 55px 0;
  border-radius: 4px;
  font-weight: bold;
  position: fixed;
  z-index: 1000;
}
.flash-success{
  background-color: #d4edda;
  color: #155724;
}
.flash-error{
  background-color: #f8d7da;
  color: #721c24;
}
body{
  font-family: arial;
}
.header{
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.title{
  color: white;
  background-color: rgb(46, 144, 255);
  width: 100%;
  height: 100px;
  font-size: 35px;
  padding-top: 30px;
  padding-left: 10px;
}
.aboutPage{
  background-color: rgb(46, 144, 255);
  color: white;
  width: 100%;
  height: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
/* navigations */
.container{
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  margin-top: 40px;
}
.pageTitle{
  margin-bottom: 60px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(46, 144, 255);
  background-color: rgb(248, 248, 248);
  border-top: 1px solid rgb(214, 214, 214);
  border-left: 1px solid rgb(214, 214, 214);
  border-right: 1px solid rgb(214, 214, 214);
}
/* navigation starts here */
.ban-user{
  color: #721c24;
}
.navigationsBox{
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 70px 138px 145px;
  height: 52px;
  width: 100%;
  margin-bottom: 0px;
  position: fixed;
  top: 160px;
  left: 0;
  right: 0;
  border-bottom: 1px solid lightgrey;
  flex-wrap: nowrap;
  z-index: 100;
  font-size: 14px;
  font-family: system-ui;
}
.navLinks{
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  border: 3px solid transparent;
  height: 89%;
  position: relative;
  text-align: center;
}
.navLinks:hover{
  border: 3px solid rgb(22, 39, 83);
}
.createMapElementNotification{
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: red;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 20px;
  position: absolute;
  top: -3px;
  left: 453px;
}
.links{
  color: black;
  text-decoration: none;
}
.links:hover{
  color: rgb(17, 29, 63);
}
/* navigation ends here */

