.sidebarLinks{
  text-decoration: none;
}
.sidebarContainer{
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: 0;
  width: 100px;
  top: 154px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-left: 1px solid lightgrey;
}
.sidebarContents{
  font-family: Cambria;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  background-color: rgb(255, 255, 255);
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
}
.sidebarContents img{
  width: 65px;
  margin-bottom: 8px;
}
.sidebarContents:hover{
  background-color: rgb(238, 238, 238);
  color: black;
}
.buyingCartLink{
  text-decoration: none;
}
/* .buyingCartLink:hover{
  text-decoration: underline;
} */