.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 40px;
  margin-top: 30px;
}
.productsContainer{
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(228, 228, 228);
  padding: 12px;
}
.cartHeading{
  width: 100%;
  height: 160px;

  /* background-color: rgb(247, 247, 247); */
  /* background: linear-gradient(rgb(233, 203, 203),
  rgb(255, 247, 200),
   rgb(255, 255, 255)); */
  background-color: rgb(46, 144, 255);
  color: white;

  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid lightgrey;
  z-index: 10;
}
.cartHeading img{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartHeadingText{
  font-size: 30px;
  text-align: center;
  min-width: 240px;
}
@media(max-width: 500px) {
  .cartHeadingText{
    font-size: 24px;
  }
  .cartHeading img{
    width: 90px;
  }
}

/* navigations */
.navigationsBox{
  position: fixed;
  top: 160px;
  right: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 65px 110px 100px;
  height: 52px;
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  font-size: 13px;
  text-align: center;
  z-index: 10;
}
.navLinks{
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  border: 3px solid transparent;
  height: 89%;
}
.navLinks:hover{
  border: 3px solid rgb(22, 39, 83);
}
.links{
  color: black;
  text-decoration: none;
}
.links:hover{
  color: rgb(17, 29, 63);
}
.buyingCart{
  width: 45px;
}
.navlinksOfCart{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 16px;
  padding-right: 10px;
  position: relative;
}
.navlinksOfCart img{
  width: 44px;
}
.buyingNowCartNotification{
  position: absolute;
  top: 0;
  right: 17px;
  background-color: rgb(212, 0, 0);
  color: white;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 14px;
}
.buyingNowCartLink{
  padding-right: 8px;
  padding-left: 6px;
}
.buying{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}
.buying{
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  text-decoration: none;
  color: black;
}
.buying:hover{
  border-bottom: 3px solid rgb(8, 13, 61);
  border-left: 3px solid rgb(8, 13, 61);
  border-right: 3px solid rgb(8, 13, 61);
}
.textBuyingCart{
  margin-right: 12px;
}
