/* previous codes */

fieldset {
  color: rgb(236, 98, 0);
  text-align: center;
}
i{
  color: rgb(185, 0, 126);
  margin-top: 20px;
}

/* new codes */
.flash{
  padding: 20px;
  margin: 10px 0;
  border-radius: 4px;
  font-weight: bold;
  line-height: 28px;
}
.flash-success{
  background-color: #d4edda;
  color: #155724;
}
.flash-error{
  background-color: #f8d7da;
  color: #721c24;
}
body{
  font-family: system-ui;
  padding-top: 210px;
}

.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 160px;
  /* background-color: rgb(247, 247, 247); */
  background-color: rgb(46, 144, 255);
  color: white;
  border-bottom: 1px solid lightgrey;
}
.headerLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img{
  width: 100%;
}
@media(max-width:700px) {
  .header img{
    width: 90%;
  }
}
@media(max-width: 474px) {
  .header img{
    width: 80%;
  }
}
.headerText{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
@media(max-width: 700px) {
  .headerText{
    font-size: 23px;
  }
}
/* navigations */
.navigationsBox{
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 60px 60px;
  height: 52px;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  position: fixed;
  right: 0;
  left: 0;
  top: 155px;
}
.navLinks{
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 3px solid transparent;
  height: 89%;
}
.navLinks:hover{
  border: 3px solid rgb(22, 39, 83);
}
.links{
  color: black;
  text-decoration: none;
}
.links:hover{
  color: rgb(17, 29, 63);
}
/* in page */
.mainHeading{
  font-size: 18px;
  font-weight: bold;
  color: rgb(43, 43, 43);
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  /* border-bottom: 1px solid rgb(224, 224, 224); */
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(247, 247, 247);
  line-height: 26px;
}
@media(max-width: 500px) {
  .mainHeading{
    font-size: 15px;
  }
}
fieldset{
  padding-top: 20px;
  padding-bottom: 40px;
}
.titles{
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 25px;
  margin-top: 25px;
}
@media(max-width: 500px) {
  .titles{
    font-size: 16px;
  }
}
.previewLink{
  font-size: 24px;
  font-weight: bold;
  color: black;
}
@media(max-width: 500px) {
  .previewLink{
    font-size: 22px;
  }
}
.previewLink:hover{
  color: rgb(14, 44, 54);
  text-decoration: none;
}
.previewLink2{
  margin-left: 30px;
}
.previewLink2:hover{
  color: rgb(10, 78, 26);
}
ol li{
  line-height: 26px;
  padding-right: 20px;
}
@media(max-width: 500px) {
  ol li{
    font-size: 14px;
  }
}
.footerText{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  margin-left: 2px;
  margin-top: 20px;
  border: 1px solid transparent;
  background-color: rgb(7, 18, 39);
}
@media(max-width: 500px) {
  .footerText{
    font-size: 13px;
  }
}
.footerLink{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
}
.footerLink:hover{
  border: 3px solid rgb(0, 55, 100);
  text-decoration: none;
}